<form asp-controller="Account" asp-action="Login" method="post">
    <div class="form-group">
        <label for="login">Login</label>
        <input type="email" class="form-control" id="login" placeholder="Enter email" />
    </div>
</form>