@model IReadOnlyList<IApp>
@{
    ViewData["Title"] = "Welcome";
    var basicApps = this.Model.Where(a => a is BasicApp);
}

@if (basicApps.Count() < 1)
{
<div class="row justify-content-center">
    <div class="col"><h1>There doesn't seem to be anything here.<br/>You could add some apps?</h1></div>
</div>
}